.App {
}

div:focus {
  outline: none;
}
.explorer {
  height: 600px;
  width: 400px;
  background-image: linear-gradient(to right, white, #dbdbdb);
  margin: 0;
  padding: 0;
  font-family: monospace;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  list-style: none;
}

.item {
  height: 32px;
  padding: 4px;
  display: inline-flex;
  /* flex-direction: column;
  justify-content: center; */
  white-space: pre;
  user-select: none;
}

.svg-icon {
  height: 20px;
  width: 20px;
}
