.App {
}

body {
  background-color: #dbdbdb;
}

div:focus {
  outline: none;
}

/** Util Start **/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.clickable {
  cursor: pointer;
}
/** Util End **/

.explorer {
  height: 600px;
  width: 400px;
  /* background-image: linear-gradient(to right, white, #dbdbdb); */
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  list-style: none;
}

.tree-item {
  height: 30px;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
  white-space: pre;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
}

.tree-domain-image {
  width: 1.5em;
  height: 100%;
  margin-inline-end: 0.5em;
}

.tree-icon {
  height: 100%;
  width: 100%;
  margin-inline-end: 0.5em;
}

.tree-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tree-item-lbl {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 6em);
  padding: 2px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.tree-item:hover .tree-item-lbl:not(.selected) {
  background: #94c4fe;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(31%, #94c4fe),
    color-stop(100%, #d3f6fe)
  );
  background: -webkit-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
  background: -moz-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
  background: -o-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
  background: -ms-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
  background: linear-gradient(to bottom, #94c4fe 31%, #d3f6fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c4fe', endColorstr='#d3f6fe',GradientType=0 );
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 1px solid #4864a9;
  color: #000;
  /* font-size: 0.75em; */
}

.expand-btn {
  height: 100%;
  width: 1em;
  width: 2em;
  padding: 0 0.5em 0 0.5em;
  margin-inline-end: 0.5em;
}

.tree-picked-item {
  width: 1em;
  margin-inline-end: 0.5em;
}

.selected {
  background: #54bc3e;
  background: -moz-linear-gradient(top, #54bc3e 0%, #aee850 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #54bc3e),
    color-stop(100%, #aee850)
  );
  background: -webkit-linear-gradient(top, #54bc3e 0%, #aee850 100%);
  background: -o-linear-gradient(top, #54bc3e 0%, #aee850 100%);
  background: -ms-linear-gradient(top, #54bc3e 0%, #aee850 100%);
  background: linear-gradient(to bottom, #54bc3e 0%, #aee850 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54bc3e', endColorstr='#aee850',GradientType=0 );
  border: 1px solid #1d6511;
  border-radius: 25px;
  box-shadow: 0 0 2px 1px green;
}
